* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.5vmax;

  padding-left: 10vmax;

  padding-top: 7vmax;
}
#left {
  height: 100%;
  width: 45%;
  padding-bottom: 3vmax;
}

#left h1 {
  font-size: 7vmax;
  letter-spacing: 0.4vmax;
  font-weight: 600;
  line-height: 6vmax;
}
#left-cor {
  margin-top: 30%;
  border: 1px solid black;
  width: max-content;
  padding: 0.6vmax 1vmax;
  border-radius: 3vmax;
  display: flex;
  justify-content: center;
}
#color1 {
  background-color: rgb(152, 152, 187);
  height: 0.6vmax;
  width: 0.6vmax;
  border-radius: 50%;
  margin-left: 0.3vmax;
  margin-top: 6%;
}
#color2 {
  background-color: rgb(83, 211, 166);
  height: 0.6vmax;
  width: 0.6vmax;
  border-radius: 50%;
  margin-left: 0.3vmax;
  margin-top: 6%;
}

#bottom-left {
  margin-top: 6%;
  width: 100%;
  font-weight: 700;
}

#bottom-left h2 {
  font-weight: 1000;
  padding-bottom: 1.2vmax;
  font-family: cursive;
}
#bottom-left p {
  font-size: 1vmax;
  width: 80%;
  color: #444;
  font-weight: 550;
  line-height: 1vmax;
  letter-spacing: 0.1vmax;
}
#right {
  height: 100%;
  width: 35%;

  padding-bottom: 1.2vmax;
}
#right-top {
  display: flex;
  justify-content: space-between;
  padding: 0vmax 0.4vmax;
}
#right-top h4 {
  font-size: 1vmax;
  font-weight: 400;
  padding-bottom: 0.4vmax;
}
#right-top h5 i {
  color: goldenrod;
}

img {
  width: 100%;
  height: 98%;
  object-fit: cover;
}

#blackbox {
  position: relative;
  height: 7vmax;
  width: 7vmax;
  background-color: rgb(12, 12, 12);
  border-radius: 50%;
  color: white;
  right: -85%;
  top: -80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blackbox h5 {
  font-size: 1.1vmax;
  font-weight: 600;
  text-transform: lowercase;
}
#rotate {
  position: relative;
  left: -7vmax;
  bottom: 53%;
  rotate: -90deg;
  width: fit-content;
}
